/*styling for the buttons*/

/*main menu button*/
.main-menu-button {
    background-color: rgba(59, 59, 59, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-weight: bold;

    width: 200px;
    height: 85px;
}

.main-menu-button:hover {
    cursor:pointer;
}

/*default button*/
.default-button {
    background-color: rgba(59, 59, 59, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.default-button:hover {
    cursor:pointer;
}

