/*styling for the buttons*/

/*switch theme button*/
.dark-switch-theme-button {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
}

.light-switch-theme-button {
    background-color: rgb(31,31,31);
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
}

.dark-switch-theme-button:hover {
    cursor:pointer;
}

/*main menu button*/
.dark-main-menu-button {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;

    width: 180px;
    height: 85px;
}

.light-main-menu-button {
    background-color: rgb(31,31,31);
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;

    width: 180px;
    height: 85px;
}

.dark-main-menu-button:hover {
    cursor:pointer;
}

/*default button*/
.dark-default-button {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
}

.light-default-button {
    background-color: rgb(31,31,31);
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
}

.dark-default-button:hover {
    cursor:pointer;
}

