/*styling for the common elements*/


/*default styling*/
* {
    font-size:20px;
    font-family: system-ui;
}

/*redefinitions*/
ul {
    margin:10px;
}

li {
    margin:10px;
}


.grey-background {
    background-color: rgb(26, 26, 26);
    min-height: 100%;
    width: 100%;
    position: relative; /* relative to window */
    overflow-x: hidden; /* disable horizontal scroll */
    color: white;
}

.radial-gradient-effect {
    /* radial gradiant with 3 colors for smoother transition */
    /* x and y are set to 50% by default */
    /* 50% spawns the gradiant in the center of the window at the start */
    background-image: radial-gradient(
        circle at var(--x, 50%) var(--y, 50%),
        rgb(59, 11, 11) 0%,
        rgb(51, 22, 22) 15%,
        rgb(26, 26, 26) 20%);
    background-size: cover; /* cover entire window */
    background-position: center; /* center image */
    backdrop-filter: blur(5vmax); /* blur effect */
}

.hr {
    height: 1px;
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    padding: 0;
    margin: 20px 0px 20px 0px;
    border: 0;
}

.sub-infos {
    font-style: italic;
    font-size:19px;
    margin-left: 10px;
}

.main {
    margin:0 auto;
    width:70%;

    background-color: rgba(43, 43, 43, 0.5);
    border-radius: 33px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.main-title1 {
    margin: 25px;
    margin-top: 30px;
    font-weight:1000;
    font-size:30px;
}

.main-title1-section {
    padding-top: 1px;
    margin : 0 auto;
    width:95%;
}

.main-title2 {
    margin: 15px;
    margin-bottom: 7px;
    font-weight:1000;
    font-size:25px;
}

.main-title2-section {
    padding-bottom: 30px;
    margin : 0 auto;
    width:95%;
}

.main-title3 {
    margin: 10px;
    font-weight:1000;
    font-size:20px;
}

.main-title3-section {
    margin: 0 auto;
    margin-bottom: 40px;
    width:95%;
}

.main-paragraph {
    margin:0 auto;
    width:95%;
}



