/*styling for the header*/


.header {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2fr 1fr;
}

.utility-section {
    grid-column: 1;
    grid-row: 1/2;

    justify-self: end;
    align-self: start;

    padding-right: 15px;
}

.profile-section {
    display:grid;
    grid-column: 1;
    grid-row: 2/3;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.profile-picture-section {
    grid-column: 1;
    grid-row: 1/4;

    justify-self: right;
    align-self: center;
}

.profile-picture {
    border-radius: 50%;

    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-name-section {
    grid-column: 2/3;
    grid-row: 1/2;

    justify-self: left;
    align-self: center;
}

.profile-name {
    font-weight: 1000;
    font-size:40px;
}

.profile-title-section {
    grid-column: 2/3;
    grid-row: 2/3;

    justify-self: left;
    align-self: center;
    padding-left:5px;
}

.profile-social-media-section {
    grid-column: 2/3;
    grid-row: 3/4;

    justify-self: left;
    align-self: center;
}

.profile-social-media-icon {
    border-radius: 50%;

    width: 40px;
    height: 40px;

    cursor:pointer;
}

.main-menu-section {
    grid-column: 1;
    grid-row: 3/4;

    text-align: center;
}