/*styling for the header*/


.header {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    /*DEBUG adds a border to the header section*/
    /*border: 2px solid rgb(0, 0, 216);*/
}

.utility-section {
    grid-column: 1;
    grid-row: 1/2;

    justify-self: end;
    align-self: start;

    /*DEBUG adds a border to the utility section*/
    /*border: 1px solid rgb(216, 0, 0);*/
}

.profile-section {
    display:grid;
    grid-column: 1;
    grid-row: 2/3;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    /*DEBUG adds a border to the profile name section*/
    /*border: 2px solid rgb(216, 0, 0);*/
    /*DEBUG adds a border to the profile section*/
    /*border: 1px solid rgb(0, 17, 255);*/
}

.profile-picture-section {
    grid-column: 1;
    grid-row: 1/4;

    justify-self: right;
    align-self: center;

    /*DEBUG adds a border to the profile name section*/
    /*border: 1px solid rgb(216, 0, 0);*/
}

.profile-picture {
    border-radius: 50%;

    width: 150px;
    height: 150px;
}

.profile-name-section {
    grid-column: 2/3;
    grid-row: 1/2;

    justify-self: left;
    align-self: center;

    /*DEBUG adds a border to the profile name section*/
    /*border: 1px solid rgb(216, 0, 0);*/
}

.dark-profile-name {
    font-weight: 1000;
    font-size:40px;
}

.profile-title-section {
    grid-column: 2/3;
    grid-row: 2/3;

    justify-self: left;
    align-self: center;
    padding-left:5px;

    /*DEBUG adds a border to the profile title section*/
    /*border: 1px solid rgb(216, 0, 0);*/
}

.profile-social-media-section {
    grid-column: 2/3;
    grid-row: 3/4;

    justify-self: left;
    align-self: center;

    /*DEBUG adds a border to the social media section*/
    /*border: 1px solid rgb(216, 0, 0);*/
}

.profile-social-media-icon {
    border-radius: 50%;

    width: 40px;
    height: 40px;

    cursor:pointer;
}

.main-menu-section {
    grid-column: 1;
    grid-row: 3/4;

    justify-self: center;

    /*DEBUG adds a border to the main-menu section*/
    /*border: 1px solid rgb(216, 0, 0);*/
}