/*styling for the projects page*/


.projects-intro-section {
    width:95%;
}


.projects-picture-section {
    padding-left: 10px;
}

.projects-picture {
    float:right;
    width: 25%;
    height: 25%;
}


.tools-picture {
    height: 50px;
    width: 50px;
}


.skills-details-section {
    width:95%;
}

.skills-picture-section {
    padding-left: 10px;
    padding-top: 20px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-picture {
    max-width: 100%;
}