/*styling for the projects page*/


.dark-projects-intro-section {
    width:95%;
}


.dark-projects-picture-section {
    padding-left: 10px;
}

.dark-projects-picture {
    float:right;
    width: 25%;
    height: 25%;
}


.dark-tools-picture {
    height: 50px;
    width: 50px;
}


.dark-skills-details-section {
    width:95%;
}

.dark-skills-picture-section {
    padding-left: 10px;
    padding-top: 20px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.dark-skills-picture {
    max-width: 100%;
}