<footer id="id-footer" class="footer">
    <section class="top-footer-section">
        <button class="default-button" onclick="redirectTopOfPage()">
            Haut de la page
        </button>
    </section>

    <section class="copyright-section">
        &copy; 2025 Hamid Enzo. Tous droits réservés.
    </section>

    <section class="contact-section">
        <div class="contact-title1">Contact</div>
        Email :
        <a href="mailto:nzo.etd@gmail.com">nzo.etd@gmail.com</a><br />
    </section>
</footer>