<footer id="id-footer" class="footer">
    <section class="top-footer-section">
        <button class="dark-default-button" onclick="redirectTopOfPage()">
            Haut de la page
        </button>
    </section>

    <section class="copyright-section">
        &copy; 2024 Hamid Enzo. Tous droits réservés.
    </section>

    <section class="contact-section">
        <div class="dark-contact-title1">Contact</div>
        Email (personnel) :
        <a href="mailto:nzo.etd@gmail.com">nzo.etd@gmail.com</a><br />
        Email (université) :
        <a href="mailto:ehamid@iutbayonne.univ-pau.fr">ehamid@iutbayonne.univ-pau.fr</a><br />
    </section>
</footer>