<footer id="id-footer" class="footer">
    <section class="top-footer-section">
        <button class="default-button" onclick="redirectTopOfPage()">
            Top of the page
        </button>
    </section>

    <section class="copyright-section">
        &copy; 2024 Hamid Enzo. All rights reserved.
    </section>

    <section class="contact-section">
        <div class="contact-title1">Contact</div>
        Email (personal) :
        <a href="mailto:nzo.etd@gmail.com">nzo.etd@gmail.com</a><br />
        Email (university) :
        <a href="mailto:ehamid@iutbayonne.univ-pau.fr">ehamid@iutbayonne.univ-pau.fr</a><br />
    </section>
</footer>