
<header id="id-header" class="header">

    <section class="utility-section">
        <button class="default-button" onclick="switchLanguage()">Switch language</button>
        <button class="default-button" onclick="redirectBottomOfPage()">Bottom of the page</button>
    </section>

    <section class="profile-section">

        <section class="profile-picture-section">
            <img id="id-profile-picture" alt="profile" class="profile-picture" src="../assets/img/profile-picture.png" />
        </section>

        <section class="profile-name-section profile-name"> HAMID Enzo </section>

        <section class="profile-title-section">
            <div class="sub-infos">Junior software engineer</div>
        </section>

        <section class="profile-social-media-section">
            <img alt="personal github" title="Personal GitHub" class="profile-social-media-icon"
                onclick="redirectGitHubPersonal()" src="../assets/img/social-medias/github-logo-250.png" />
            <img alt="university github" title="University GitHub" class="profile-social-media-icon"
                onclick="redirectGitHubUniversity()" src="../assets/img/social-medias/github-logo-250.png" />
            <img alt="linked in" title="Linked In" class="profile-social-media-icon"
                onclick="redirectLinkedIn()" src="../assets/img/social-medias/linkedin-logo-1440.png" />
                <a href="../assets/downloads/enzo_hamid_resume.pdf" download="enzo_hamid_resume.pdf" target="_blank">
            <img alt="resume" title="Resume" class="profile-social-media-icon" 
                src="../assets/img/social-medias/cv-logo-white-bg-max.png" />
            </a>
        </section>

    </section>

    <nav id="id-nav" class="main-menu-section"">
        <button class="main-menu-button" onclick="redirectHome()">Home</button>
        <button class="main-menu-button" onclick="redirectDesktopApps()">Desktop apps</button>
        <button class="main-menu-button" onclick="redirectWebProjects()">Web projects</button>
        <button class="main-menu-button" onclick="redirectScripts()">Scripts</button>
        <button class="main-menu-button" onclick="redirectOtherProjects()">Other projects</button>
        <button class="main-menu-button" onclick="redirectBottomOfPage()">Contact</button>
    </nav>

</header>